.editworkout {

    width: 50%;
    margin-top: 1em;
    padding: 1em;
    display: block;
    text-align: center;
    display: flex;
    justify-content: center;
}



Table {
    border: 2px solid rgb(127, 129, 127);
    border-collapse: collapse;
    text-align: center;
    padding: 15px;
    width: 75%;

  }

  th {
    background-color: #6c907e;
  }

  th, td {
    border: 2px solid rgb(127, 129, 127);

  } 

  .workout_yes {
    background-color: rgb(174, 200, 174);
  }

  .workout_no {
    background-color: rgb(221, 180, 180);


  }

  .alcohol_yes {
    background-color: rgb(221, 180, 180);

  }

  .alcohol_no {
    background-color: rgb(174, 200, 174);

  }

  .food_yes {
    background-color: rgb(174, 200, 174);

  }

  .food_no {
    background-color: rgb(221, 180, 180);

  }

  .sleep_yes {
    background-color: rgb(174, 200, 174);

  }
  
  .sleep_no {
    background-color: rgb(221, 180, 180);
  }

  .mindfullness_yes {
    background-color: rgb(174, 200, 174);
  }

  .mindfullness_no {
    background-color: rgb(221, 180, 180);
  }